# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# DVC
.dvc/cache
.dvc/tmp
.dvc/plots

# Data files (will be tracked by DVC)
data/*.csv
data/*.xlsx
data/*.json

# Model artifacts
models/
*.pkl
*.joblib

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

data/*.csv

data/*.txt

data/MachineLearningRating_v3.txt
